.App {
  text-align: center;
  margin:auto;
}




.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Buttons{
  background-color: #282c34;
  display: block;
  width: 290px;
  height: 250px;

}
